<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.d214.whs.wcc.portal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/whs_app_icon"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="org.d214.whs.wcc.portal.WHS"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.News"
            android:label="@string/title_activity_news"
            android:parentActivityName="com.example/whs.WHS"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.d214.whs.wcc.portalWHS" />
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Events"
            android:label="@string/title_activity_events"
            android:parentActivityName="com.example/whs.WHS"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.d214.whs.wcc.portalWHS" />
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Announcements"
            android:label="@string/title_activity_announcements"
            android:parentActivityName="com.example/whs.WHS"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.d214.whs.wcc.portalWHS" />
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Read"
            android:label="@string/title_activity_read" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Navigate"
            android:label="@string/title_activity_navigate" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.ChangeSettings"
            android:label="@string/title_activity_change_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.WHS_Home"
            android:label="@string/title_activity_whs__home"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
        <receiver android:name="org.d214.whs.wcc.portal.CurrentMoodWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
                <category android:name="android.intent.category.ALTERNATIVE" >
                </category>
            </intent-filter>
            <intent-filter>
                <action android:name="schwartz.mobiledilemma.android.widgets.MyFirstWidget.COOL" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetproviderinfo" />
        </receiver>
        -->

        <activity
            android:name="org.d214.whs.wcc.portal.Scedule"
            android:label="@string/title_activity_scedule"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Schedule"
            android:label="@string/title_activity_schedule" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.About"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="org.d214.whs.wcc.portal.Schedule2"
            android:label="@string/title_activity_schedule2" >
        </activity>
    </application>

</manifest>
